SCUT_USERNAME="your_card_id"
SCUT_PASSWORD="your_require_password"

LLM_MODEL="Qwen/Qwen3-VL-8B-Instruct" # or other
LLM_API_KEY="your_api_key"
LLM_API_BASE="https://path.to/your/base/api"

LLM_RECOGNITION_RETRIES=3

ELECTRICITY_ALERT_THRESHOLD=20

EMAIL_SMTP_SERVER="smtp.qq.com"
EMAIL_SMTP_PORT=587
EMAIL_SMTP_USER="your_email@qq.com"
EMAIL_SMTP_PASSWORD="your_email_app_password_or_token"
# EMAIL_RECIPIENTS="a@example.com, b@example.com; c@example.com d@example.com"
EMAIL_RECIPIENT="recipient_email@example.com"
