# SCUT card id and query password, should all be 6 digits
SCUT_USERNAME="your_card_id"
SCUT_PASSWORD="your_require_password"

LLM_MODEL="Qwen/Qwen3-VL-8B-Instruct" # or other
LLM_API_KEY="your_api_key"
LLM_API_BASE="https://path.to/your/base/api"

# Whole login process retry times
LLM_RECOGNITION_RETRIES=3

# Warning left electricity, and 0 means ignore
ELECTRICITY_ALERT_THRESHOLD=20

# Whether report each time even if not less than warning
PUSH_DAILY_REPORT=false
# Cite https://sct.ftqq.com/sendkey
PUSH_FTQQ_KEY="your_key"

# We use tls instead of starttls, the port fixed to 465
EMAIL_SMTP_SERVER="smtp.qq.com"
EMAIL_SMTP_USER="your_email@qq.com"
EMAIL_SMTP_PASSWORD="your_email_app_password_or_token"
# Target
EMAIL_RECIPIENT="recipient_email@example.com"

